body {
    background: #234561;
    font-family: "Consolas";
}
#container {
    max-width: 40rem;
    margin: 1rem auto;
}
#header {
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
}
#rgbDisplay {
    text-transform: uppercase;
}
#message {
    display: inline-block;
    width: 10%;
}
.square {
    width: 30%;
    background: green;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 400ms;
    -webkit-transition: background 400ms;
    -moz-transition: background 400ms; 
}
#stripe {
    background: white;
    height: 30px;
    text-align: center;
}
.selected {
    color: white;
    background: steelblue;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 300ms;
    outline: none;
}
button:hover {
    color: white;
    background: steelblue;
}