html {
	height: 100%;
}
body {
	padding-top: 70px;
	background-image: url(https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);
	background-size: cover;
	background-position: center;
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}

.myh2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

.pink {
	background: pink;
	border: 1px dashed purple;
}

.green {
	background: yellow;
	border: 1px solid green;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.jumbotron {
	color: black;
	background: transparent;
	text-align: center;
}
.jumbotron>h1 {
	font-family: 'Shrikhand';
	color: #153804;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.navbar-inverse {
	background: #2c4f10;
}
.navbar-inverse .navbar-nav>.active>a {
	background: #2c5e00;
}
.navbar-inverse .navbar-nav>.active>a:focus {
	background: #2c5e00;
}
.navbar-inverse .navbar-nav>.active>a:hover {
	background: #2c5e00;
}
.navbar-inverse .navbar-nav>.open>a {
	background: #2c5e00;
}
.navbar-inverse .navbar-nav>.open>a:focus {
	background: #2c5e00;
}
.navbar-inverse .navbar-nav>.open>a:hover {
	background: #2c5e00;
}

